.site-footer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.site-footer p {
    color: var(--subtle);
}

.site-footer p {
    color: var(--subtle);
    font-size: 0.4rem;
    line-height: 1.4;
}